.area-comentarios ul{
    list-style: none;
  }
  .area-comentarios ul{
    display: block;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 2% 3%;
  }
  
  .unico-comentario{
    display: block;
    clear: both;
  }
  
  .unico-comentario .conteudo{
    display: block;
    width: 100%;
    padding: 0.5%;
  }
  
  .unico-comentario .conteudo p{
    margin: 0;
  }
  
  .normal .conteudo, .children .conteudo{
    max-width: 40%;
    word-wrap: break-word;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    clear:both;
    font: 100 13px 'Open Sans', sans-serif;
  }
  
  .children .conteudo{
    background: #00BCD4; /*cor do balão 1*/
    color: white; /*cor da fonte do balão 1*/
    float: right;
    clear: none;
    border-bottom-right-radius: 20px 0px\9;
  }
  .children .conteudo a{
    color: #006064; /* dor do link do balão 1 */
    text-decoration: none;
    cursor: pointer;
  }
  .children .conteudo:before{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -8px;
    height: 19px;
     border-right: 20px solid #00BCD4; /*cor do balão 1*/
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    border-bottom-left-radius: 15px 0px\9;
    transform: translate(-1px, -2px)\9;
  }
  .children .conteudo:after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -42px;
    width: 12px;
    height: 20px;
    background: white; /*cor de fundo*/
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px);
  }
  
  .normal .conteudo{
    background: #F8BBD0; /*cor do balão 2*/
    color: #424242; /*cor da fonte do bação 2 */
    float: left;
    clear:none;
    border-bottom-left-radius: 30px 0px\9;
  }
  .normal .conteudo a{
    color: #D81B60;
    text-decoration: none;
    cursor: pointer;
  }
  .normal .conteudo:before{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 19px;
    border-left: 20px solid #F8BBD0; /*cor do balão 2*/
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    border-bottom-right-radius: 15px 0px\9;
    transform: translate(-1px, -2px)\9;
  }
  .normal .conteudo:after{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white; /*cor de fundo*/
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px);
  }
  
  .avatar img{
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
    background: white;
  }
  
  .normal .avatar{
    float:left;
    margin-right: 10px;
  }
  
  .children .avatar{
    float:right;
    margin-left: 10px;
  }
  
  .children .author{
    background: #FFCCBC !important;
  }
   .children .author:before{
    border-right: 20px solid #FFCCBC !important;
  }
  
  .normal .author{
    background: #FFCCBC !important;
  }
  .normal .author:before{
    border-left: 20px solid #FFCCBC !important;
  }
  
  /* Início - Estrutura */
    html {
      background: lightgray;
    }
    body {
      background: white;
      width: 50%;
      margin: 20px auto;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    }
    .dummy {
      width: 100%;
      height: 10px;
    }
  
    /* Início - Footer */
      h4.one {
        margin-top: 0;
      }
      h4 {
        position: relative;
        margin-bottom: 20px; }
      h4 {
          display: block;
          clear: both;
          margin: 5px 0px 0px 0px;
          color: rgb(153, 153, 153);
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
      }
      h4 {
        padding-left: 4%;
        padding-right: 4%;
      }
      h4.one:before {
          content: "";
          display: block;
          border-top: solid 1px rgb(229, 229, 229);
          width: 91%;
          height: 1px;
          position: absolute;
          top: 40%;
      }
      h4.one span {
          background: rgb(255, 255, 255);
          padding: 0 15px;
          position: relative;
      }
    /* Fim - Footer */
  
    .assinatura{
      width: 150px;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: 10px;
    }
  /* Fim - Estrutura      comment */

  .user-comment-image{
    height :39px;;
 }
 .bgcolor{
 color:  #007bff !important;
 }

 .t-comments-box {
  padding: 0.5rem;
  .comment-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.1rem;
  color: #263843;
  border-bottom: 1px solid #C3CCD3;
  margin-top: .25rem;
  margin-bottom: 1rem;
      max-width: 400px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 0.2rem;
    margin-right: 1rem;
  }
  .add-comment {
    display: flex;
    .comment-input {
      position: relative;
      width: 100%;
      max-width: 600px;
      input {
        height: 100%;
        width: 100%;
        padding-right: 2.5rem;
        &::placeholder {
          color: #c3ccd3;
        }
      }
      .comment-send {
        font-size: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 35px;
        height: 100%;
        border-radius: 0.2rem;
        color: #FFCC80;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          color: #FF9800;
        }
      }
    }
  }
  .comment {
    display: flex;
    font-size: 0.8rem;
    margin-top: 1rem;
    .comment-label {
      line-height: 1;
      .comment-name {
        font-weight: 500;
        font-size: 0.85rem;
        color: #292929;
      }
      .comment-time {
        font-weight: 100;
        color: #768791;
      }
    }
    .comment-content {
      color: #768791;
      margin-top: 0.1rem;
    }
    .comment-action {
      color: #c3ccd3;
      line-height: 1.2;
      span {
        margin-right: 1rem;
      }
    }
  }
  .padding-2px{
    padding:2px;
  }
  .comment-level-2 {
    margin-left: calc(50px + 1rem);
  }
  .comment-level-3 {
    margin-left: calc((50px + 1rem) * 2);
  }
}

.left-padding-5{
padding-left: 5px;
}





